Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/engine.podspec
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Generated.xcconfig
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-*
/ios/Runner/GeneratedPluginRegistrant.*

Android
Ignore sensitive keys
/android/key.properties
/android/local.properties

Android Studio
.gradle/
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/.idea/
/android/app/src/main/assets/flutter_assets/
/android//caches/
/android//build/

Xcode
/ios/Pods/
/ios/Flutter/ephemeral/
/ios/ServiceDefinitions.json
/ios/Runner.xcworkspace/
/ios/Runner.xcodeproj/
/ios/.idea/
build/
*.hmap
*.ipa
*.zip
*.dSYM/
*.xcarchive/

VS Code
.vscode/